<section id="dance-header">
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Dance Hen Party Antonia Hutchinson  invoice</h1>
                </div>
            </div>
          </section>


          <section id="package-includes">
            <div class="container">
              <div class="row  mx-1 my-3 ">
                  <div class="col-3"></div>
                  <div class="col-6">


                  <div class="card-deck">
                      <div class="card border-primary">
                          <div class="card-header special-allinclusive">Package</div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item text-center font-weight-bold">Beyonce   Hen Party for  Antonia Hutchinson in Liverpool <br>
                                Saturday the 22nd of February  7:00pm-8:30pm  </li>
                            </ul>

                        <div class="card-body">

                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item text-center">
                                                <p>
                                                    Beyonce   Hen Party for  Antonia Hutchinson in Liverpool <br>
                                                     Saturday the 22nd of February  7:00pm-8:30pm
                                                </p>
                                                <br>




                                                <p>
                                                        Name of Hen:  ps advise
                                                </p>
                                                <br>


                                                <p class="font-weight-bold">
                                                        Location
                                                </p>


                                                <p>
                                                        Dance Hen Parties @ <br>
                                                        Crown Plaza Hotel Health Club <br>
                                                         Saint Nicholas Place <br>
                                                          Princes Dock, Liverpool <br>
                                                          L3 1QW
                                                </p>
                                                <br>

                                                <p class="font-weight-bold">Ideas on What to Wear </p>

                                                <p>
                                                    Loose comfortable clothing trainers for your feet <br>
                                                     We Say glam it up for the most iconic female artist of the century <br>
                                                      All in one catsuit for the hen and don’t forget the biggest diamond ring
                                                </p>


                                        </li>
                                        <li class="list-group-item">
                                            Deposit : £50 via bank transfer or Paypal
                                        </li>
                                        <li class="list-group-item">
                                                Balance : £110 paid up to 2 days before the booking
                                        </li>
                                        <li class="list-group-item">
                                                Bubbly : not Included
                                        </li>
                                        <li class="list-group-item text-muted">
                                                Click link below to pay the deposit
                                        </li>
                                        <li class="list-group-item">
                                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="G3R53CPS6TQL8">
                                                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                                </form>


                                        </li>
                                </ul>

                                <div class="card-footer text-muted font-weight-bold">
                                        Total : £160
                                      </div>


                        </div>
                      </div>


                    </div>
                    </div>
                    <div class="col-3"></div>







              </div>
            </div>
        </section>