 <!--Testimonial Section-->
  <section id='henintro'>
    <div class="intro-container">
      <div class="title">
        <h1 class="section-title">Hen Party <span>Invoice</span></h1>
      </div>
      <div class="content">

        <h2 class="section-title">{{ booking.name }} <span> </span></h2>

      </div>

    </div>


  </section>
   <!--End Testimonial Section-->




    <!-- Course Section -->
  <section id="package" >
    <div class="invoice-stuff" >
        <div>

            <h4 class="section-title">PACK<span>AGE</span></h4>




            <div class="invoice-container">
                <img src="images/eyes-looking.jpg" alt="bollywood dance hen class info">
                <div class="title">
                    Your Package
                </div>
                <div class="invoice-details">
                    <h3>{{ booking.dance_style | capfirst }} hen party  for  {{ booking.name | title }} in {{ booking.city }} on <br>
                        {{ booking.event_date|date:"l jS   F Y"}} from {{ booking.start_time }} - {{ booking.end_time }}</h3>

                    <p>Name of Special Person :  {{ booking.special_person | capfirst }}  </p>

                    <h6>LOCATION</h6>

                    <p class="venue-address">Manchester Dance Centre @ <br>
                    {% if booking.client_venue %}
                    Clients Venue <br>
                    {{ booking.client_venue}}<br>
                    {{ booking.city }} <br>
                    {{ booking.client_venue_postcode  }}
                {% else %}
                {{ booking.confirmed_venue.address}}<br>
                {{ booking.city }} <br>
                {{ booking.confirmed_venue.postcode }}
                {% endif %}</p>

                    <h6>What to Wear</h6>
                    <p class="venue-address">
                        Shorts, Tshirt <br>
                        the more outrageouse the better <br>
                        do not moisturise <br>
                    </p>

                    <hr>
                    <p>Deposit : £50 via Bank Transfer or PayPal</p>
                    <hr>
                    <p>Balance : £{{ booking.balance|floatformat:'2' }}  paid up to 3 days before the booking</p>
                    <hr>
                    {% if booking.bubbly > 0 %}
                        <p>Bubbly Included : £{{ booking.bubbly }}</p>
                    {% endif %}
                    <hr>
                    <p>Click link Below to pay the deposit</p>

                    <hr>
                    <div class="pay-pal">
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="5HB26BVJNGKUU">
                            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                            </form>
                    </div>


                    <hr>
                    <h6>Total : £{{ booking.total_cost |floatformat:'2'   }}</h6>


                </div>

            </div>


        </div>
    </div>

</section>

<!-- End Class Section -->
