<p>
    <span class="exsadie">
        Geatest Showman Dance Workshops for Hen Parties <br>
    </span>

    Inspired by the iconic movie, The Greatest Showman Hen Party dance class is the perfect dance experience for any musical loving brides to kick off their weekend like no other!
    <br> <br>
    Featuring some classic songs from the film, such as ‘This Is Me’, ‘Come Alive’ and ‘The Greatest Show’, you’ll boogie the afternoon away with a professional choreographer, and come away with a fun-filled routine that you and your group can perform altogether

</p>

<p>
    <span class="exsadie">
    What to wear to your hen party <br>
    </span>

    Ideas on what to wear: trainers for the feet <br>
    something comfortable jazz hands leggings
</p>



{% include 'partials/_dances_common.html' %}