
<p>
    <span class="exsadie">
        Beyonce Dance Single Ladies Workshops for dance Parties <br>
    </span>
The Irish dance class hen party consists of a fun Irish dancing lesson fused together with world class, Irish music. If you fancy a dance class hen party with a difference then look no further.
    During the Irish dance class hen party, your group will learn an Irish dance routine with some similar dance moves to the world famous Riverdance sensation.

    <br>
    <br>
    Irish Dancing  is known  for its rapid leg and foot movements, with the body and arms kept almost stationary. It looks fantastic when done in formation and it’s a great hen party dance class.
    This dance routine will be a show stopper to show off at every occasion, including the wedding reception.  An Irish dance class party will guarantee you get your hen party singing and dancing while the bride to be receives all the attention.
    This hen party dance class includes 1.5 hrs  of fun with a professional dancer

</p>



<p>
    <span class="exsadie">
        What to wear to your hen party <br>
    </span>
Trainers for your feet ,
</p>


{% include 'partials/_dances_common.html' %}