<p>
    <span class="exsadie">
       Line  dance hen party <br>
    </span>

    Yeeee-haw  Well come on down and  get your hats, lasoo and chaps on girls, it's line dancing time. This is what we class as a guilty pleasure of a party
    we are yet to find a  participant who had not enjoyed the party. Your party will definitely have a fantastic time learning the choreographed steps and clicks to your favorite country tunes during one of our linedancing Country Hen Parties.
    It's a great one for beginners, and you'll be amazed to see how much you can learn in just one class. You'll be left with a great party trick whenever 'Cotton-Eye-Joe' and Dolly Parton comes on..
    Just don't forget your cowboy hat!
</p>

<p>
    <span class="exsadie">
    Music <br>
    </span>

    Why not email over the hens top 5 songs in preference order and the instructor will choreograph the most suitable song

</p>

<p>
    <span class="exsadie">
   What to wear to your hen party <br>
    </span>

    Trainers for the feet. br
    Comfortable clothing to fit the style
</p>


{% include 'partials/_dances_common.html' %}