<p>
    <span class="exsadie">
       Musicals dance hen party <br>
    </span>

    If you fancy being the lead in your own hit west end show or just have a love for musicals and the theatre then this is the workshop for you.
Choose your favourite show with a wide variety to choose from like cats joseph and the amazing technicolor dream coat, les miserables, the greatest show man
the list is endless <br>Our instructor will create a tailor made dance number for you and the girls to enjoy and perform.
    <br><br> need Ideas ? where to start Greatest Showman, Joseph and the amazing Technicolor Dream coat, Mamma Mia, Lion King, Chicago,  cats , aspect of love , the list goes on .

    </p>

<p>
    <span class="exsadie">
    Music <br>
    </span>

    Why not email over the hens favorite musical or  top 5 songs in preference order and the instructor will choreograph the most suitable song

</p>

<p>
    <span class="exsadie">
   What to wear to your hen party <br>
    </span>

    Trainers for the feet. br
    Comfortable clothing to fit the musical
</p>


{% include 'partials/_dances_common.html' %}